* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input,
label {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  color: #333;
}

body {
  background-color: #f9f9f9;
  height: 100vh;
}

.hidden {
  display: none;
}

h1 {
  text-align: center;
  font-size: clamp(2.5rem, 6vw, 4.5rem);
  margin-top: 40px;
}

h1::before,
h1::after {
  content: "  ";
}

.container {
  align-items: center;
  justify-content: center;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 20px auto;
  max-width: 300px;
  height: 300px;
}

.cell {
  width: 100px;
  height: 100px;
  border: 0.2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  background-color: #fff;
}

.cell:hover {
  background-color: #d1d1d1;
  transform: scale(1.05);
}

.cell.disabled {
  pointer-events: none;
  background-color: #f0f0f0;
  opacity: 0.6;
}

/* 注转 爪 */
#winner-message {
  font-size: 1.5rem;
  color: #4caf50;
  margin-bottom: 20px;
}

/* 驻转专 */
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

/* 住 */
#game-screen,
#start-screen {
  display: block;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 40px auto;
  text-align: center;
}

/* 拽住 住 转转 */
#start-screen p {
  font-size: 1.1rem;
  margin-bottom: 20px;
  color: #555;
}

/* 转转 砖 砖转砖 */
#start-screen div {
  margin-bottom: 15px;
  text-align: left;
}

label {
  font-size: 1rem;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #4caf50;
  outline: none;
}

/* 转爪转 转专  */
#current-player {
  font-size: 1.5rem;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 5px;
}
